<div class="container">
    <div *ngIf="app" class="add-app">
        <div class="header">
            <h2> Add App</h2>
        </div>

        <div class="row">
            <form  (submit)="addApp()">
                <section class="col-xs-12 col-md-6 app-details">
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.appdetail.name" name="app-name" placeholder="Name"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.appdetail.website" name="app-website"
                               placeholder="Website-ul aplicatiei">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.appdetail.github" name="app-github"
                               placeholder="Github link">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.appdetail.facebook" name="app-facebook"
                               placeholder="Pagina de Facebook a aplicatiei">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.appdetail.creationdate" name="app-createdAt"
                               placeholder="Data crearii aplicatiei">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.appdetail.logoname" name="app-logo"
                               placeholder="Upload logo">
                    </div>
                    <div class="form-group">
                    <textarea type="text" class="form-control" [(ngModel)]="app.appdetail.description" name="app-descriptioin"
                              placeholder="Descrierea aplicatiei (1000 de caractere)"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.appdetail.categoryid" name="app-category"
                               placeholder="Alege domeniul">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.appdetail.hashtags" name="app-hashtag"
                               placeholder="Alege un #hastag pentru aplicatia ta">
                    </div>

                </section>

                <section class="col-xs-12 col-md-6 ngo-details">
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.ngodetail.name" name="ngo-name"
                               placeholder="Numele organizatiei"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.ngodetail.phone" placeholder="Telefon" name="ngo-phone">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.ngodetail.email" placeholder="Email" name="ngo-email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.ngodetail.facebook" name="ngofacebook"
                               placeholder="Facebook page">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.ngodetail.googleplus" placeholder="G+" name="ngo-gmail">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.ngodetail.linkedin" name="ngolinkediin"
                               placeholder="LinkedIn page">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.ngodetail.twitter" placeholder="Twitter" name="ngo-twitter">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.ngodetail.Instagram" name="ngo-instagram"
                               placeholder="Instagram">
                    </div>
                    <div class="form-group">
                    <textarea type="text" class="form-control" [(ngModel)]="app.ngodetail.description" name="ngo-description"
                              placeholder="Descriere organizatie (500 de caractere)"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="app.ngodetail.logoname" name="ngo-logo"
                               placeholder="Upload logo">
                    </div>
                </section>
                <div class="form-actions">
                    <button id="save" type="submit" class="btn btn-default pull-right">Adauga aplicatie
                    </button>
                </div>
            </form>

        </div>




    </div>
</div>


